<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>Sign in</title>
</head>

<body class="index-body">
  <%- include('../partials/header') %>

    <main class="index-main-container">
      <div class="index-container">
        <form class="loginForm" action="/users/login" method="POST">
          <h1 class="index-title">Sign in</h1>

          <div class="inputs-container">

            <div>
              <input autofocus type="email" name="email" id="email" placeholder="Email:"
                class="login-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" />
              <div class="text-danger" id="dangerEmail"></div>
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.email.msg %>
                </div>
                <% } %>
            </div>

            <div>
              <input type="password" id="password" name="password" placeholder="Password"
                class="login-input <%= locals.errors && errors.password ? 'is-invalid' : null %>" />
              <div class="text-danger" id="dangerPassword"></div>
              <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                  <%= errors.password.msg %>
                </div>
                <% } %>
            </div>

            <div class="index-button-container">
              <button class="index-button" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

          </div>
        </form>
      </div>
    </main>
    <script src="/js/loginForm.js"></script>
    <%- include('../partials/footer') %>
</body>


</html>