<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>New transaction</title>
</head>

<body class="index-body">

  <%- include('../partials/header') %>

    <main class="index-main-container">
      <div class="index-container">
        <form action="/transactions/add" method="POST">

          <h1 class="index-title">Add transaction</h1>

          <div class="inputs-container">
            <div>
              <select class="login-input" name="type">
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
              </select>
              <% if(locals.errors && errors.type){ %>
                <div class="text-danger">
                  <%= errors.type.msg %>
                </div>
                <% } %>
            </div>
  
            <div>
              <input class="login-input" type="number" name="amount" placeholder="Amount">
              <% if(locals.errors && errors.amount){ %>
                <div class="text-danger">
                  <%= errors.amount.msg %>
                </div>
                <% } %>
            </div>
  
            <div>
              <input class="login-input" type="date" name="date" placeholder="Date">
              <% if(locals.errors && errors.date){ %>
                <div class="text-danger">
                  <%= errors.date.msg %>
                </div>
                <% } %>
            </div>
  
            <div>
              <input class="login-input" type="text" name="description" placeholder="Description">
              <% if(locals.errors && errors.description){ %>
                <div class="text-danger">
                  <%= errors.description.msg %>
                </div>
                <% } %>
            </div>
  
            <div>
              <select class="login-input" name="category_id">
                <% categories.forEach(category=> { %>
                  <option value="<%=category.category_id%>">
                    <%= category.name%>
                  </option>
                  <%})%>
              </select>
              <% if(locals.errors && errors.category_id){ %>
                <div class="text-danger">
                  <%= errors.category_id.msg %>
                </div>
                <% } %>
            </div>

          </div>

          <div class="index-button-container">
            <button class="index-button" type="submit">Add</button>
            <button class="index-button" type="reset">Reset</button>
          </div>
          
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>