<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <title>Type</title>
</head>

<body class="index-body">

  <%- include('../partials/header') %>

    <main class="index-main-container">
      <div class="add-transaction-title-container">
        <h3 class="lastest-records-title">
          <%=typeCode%>
        </h3>
        <div class="add-transaction-title">
          <a href="/transactions/add">
            Add one <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </div>

      <div>
          
          <div class="transactions-container">
            <% transactions.forEach(transaction=> {
              if(transaction.user_id == locals.userLogged.user_id) {%>
              <div class="each-income-transactions">
                <% if(transaction.type=='Income' ) { %>
                  <a href="/transactions/type/1">
                    <i class="fa-solid fa-plus green"></i>
                  </a>
                  <% } else {%>
                    <a href="/transactions/type/2">
                      <i class="fa-solid fa-minus red"></i>
                    </a>
                    <% }%>
                      <div>
                        <%= transaction.date%>
                      </div>
                      <div>
                        <%= transaction.amount%>
                      </div>
                      <a href="/transactions/detail/<%= transaction.transaction_id%>">
                        <i class="fa-solid fa-angles-right more"></i>
                      </a>
              </div>
              <% }}) %>
          </div>
      </div>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>